{% extends "base.html" %}

{% block header %}
<a href="{{ url_for('summary') }}" class="btn btn-outline-success btn-light mr-4" type="submit">Summary</a>
<a href="{{ url_for('logout') }}" class="btn btn-outline-danger btn-light mx-5" type="submit">Log Out</a>
{% endblock header %}

{% block body %}
<!-- For user with no lists -->
{% if not user.lists %}

<div class="mb-2 mx-5 mt-3">
    <div class="d-flex justify-content-center align-items-center">
        <h1 class="h2 d-flex align-items-center mt-3" style="font-family: monospace, serif;">Create Kanban Lists here :
        </h1>
        <a href="{{ url_for('add_list') }}" id="hover_effect"
            class="btn btn-dark border rounded-pill p-3 mx-5 shadow-lg">Add
            List <span>&#43;</span></a>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-cente m-3">
        <h3>Kanban board components </h3>
    </div>

    <div>
        <div class="card p-3 m-2" style="min-height: 20px;">
            <span style="font-weight: bold;">Kanban Lists </span>Each column on the board represents a different stage
            of your workflow. The cards go
            through
            the workflow until their full completion.
        </div>

        <div class="card p-3 m-2" style="min-height: 20px;">

            <span style="font-weight: bold;">Kanban Cards </span>This is the visual representation of tasks. Each card
            contains information about the task and
            its
            status, such as deadline, description, etc.

        </div>
    </div>

    <div class="d-flex justify-content-cente m-3">
        <h3>Use this kanban to : </h3>

    </div>
    <div class="card p-3 m-2" style="min-height: 20px;">

        <ul>
            <li>Visualize Your Workflow on the Kanban Board
            </li>
            <li>Use the Kanban Board to Limit Work in Progress and Focus
            </li>
            <li>Collect Key Workflow Metrics and Improve from Summary
            </li>
        </ul>
    </div>



</div>


<!-- For user with min of 1 list in database -->
{%else%}


<div class="mb-2 mx-5 mt-3">
    <div class="d-flex justify-content-between">

        <h1 class="h2 d-flex align-items-center mx-5" style="font-family: monospace, serif;">Your Board:</h1>
        <a href="{{ url_for('add_list') }}" id="hover_effect"
            class="btn btn-dark border rounded-pill p-3 mx-5 shadow-lg">Add
            List <span>&#43;</span></a>
    </div>
</div>


<div class="container-fluid">
    <div class="d-flex flex-row justify-content-around">

        {% for list in user.lists %}
        <!-- list container  -->
        <div class="card bg-dark m-2 shadow-lg" style="width:23%; height: 100%">
            <h5 class="card-header"></h5>
            <div class="card-body">
                <div class="card-title">
                    <div class="dropdown">
                        <a class="btn btn-light dropdown-toggle w-100 mb-2" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- render list name -->
                            {{ list.name }}
                        </a>
                        <ul class="dropdown-menu w-100 border" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item w-100 border-bottom" href="edit_list/{{ list.id }}"
                                    style="text-align:center ;">Edit</a></li>
                            <li><a onclick="return confirm('Are you sure you want to Delete?');"
                                    class="dropdown-item w-100 border-bottom" href="delete_list/{{ list.id }}"
                                    style="text-align:center ;">Delete</a>
                            </li>
                            <li><a class="dropdown-item w-100 " href="delete_list_move_cards/{{ list.id }}"
                                    style="text-align:center ;">Move Cards and Delete</a>
                            </li>
                        </ul>
                        <div class="d-flex flex-column">
                            {% for card in list.cards %}
                            <div class=" card my-3 mx-2 mb-3 li scroll" style="width:92%; min-height: 10rem">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="dropdown d-flex justify-content-around align-item-center">
                                            {% if card.completed_status == True %}
                                            <a class="btn bg-light dropdown-toggle mx-1" style="width: 85%;" href="#"
                                                role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                {{ card.title }}
                                            </a>
                                            {% else %}
                                            <a class="btn bg-light dropdown-toggle mx-1" style="width: 100%;" href="#"
                                                role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                {{ card.title }}
                                            </a>
                                            {% endif %}
                                            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item w-100 border-bottom"
                                                        href="/edit_card/{{ card.id }}" style="text-align:center ;">Edit</a></li>
                                                <li><a onclick="return confirm('Are you sure you want to Delete?');"
                                                        class="dropdown-item w-100 border-bottom"
                                                        href="delete_card/{{ card.id }}"
                                                        style="text-align:center ;">Delete</a></li>
                                                {% if card.completed_status == False %}
                                                <li><a onclick="return confirm('Are you sure you want to Mark it as Complete?');"
                                                        class="dropdown-item w-100 "
                                                        href="/mark_card_completed/{{ card.id }}"
                                                        style="text-align:center ;">Mark as Completed</a></li>
                                                {% endif %}
                                            </ul>

                                            {% if card.completed_status == True %}
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                    fill="currentColor" class="bi bi-check-circle-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                                </svg>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <p class="card-text d-flex justify-content-center border rounded p-2"> {{
                                        card.content
                                        }}
                                    </p>
                                </div>
                                <div class="p-1">
                                    {% if card.deadline.date() < datenow %} <small
                                        class="small card-text d-flex justify-content-end">Deadline: <span
                                            style="color:red;">{{
                                            card.deadline.strftime('%d-%m-%Y') }} </span> </small>
                                        {% else %}
                                        <small class="small card-text d-flex justify-content-end">Deadline: {{
                                            card.deadline.strftime('%d-%m-%Y') }} </small>

                                        {% endif %}


                                </div>
                            </div>
                            {% endfor %}
                            <!-- add card button  -->
                            <div class="d-flex justify-content-center">
                                <a href="{{url_for('add_card')}}" class="btn btn-light border rounded-pill px-4 py-3"
                                    id="hover_effect_2"><span>&#43;</span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock body %}